*{
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
}


.container{
  max-width: 400px;
  min-height: 450px;
  margin: 30px auto;
  background-color: #efefef;
  box-shadow: 0 0 10px grey;
  margin-top: 50px;
  padding: 15px 50px;
}

h1 {
  letter-spacing: 1px;
  margin: 10px auto;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

h4 {
  margin: 20px auto 5px auto;
  text-transform: uppercase;
}

.text-center{
  text-align: center;
}

.inc-exp-container{
  display: flex;
  justify-content: space-around;
  background-color: white;
  box-shadow: 0 0 10px grey;
  padding: 5px;
  margin: 20px 0;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #2ecc71;
}

.money.minus {
  color: #c0392b;
}

label {
  display: inline-block;
  margin: 2px 0;
}

label .tiny{
  font-size: 13px;
  color: blueviolet;
}

input[type='text'],
input[type='number'] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.btn{
  cursor: pointer;
  background-color: #9c88ff;
  box-shadow: 0 0 10px grey;
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.list{
  list-style-type: none;
  margin: 10px 0;
  padding: 0;
  /* list-style-type: none; */
}

.list > li{
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 10px grey;
    padding: 10px 15px;
    background-color: white;
    color: #333;
    position: relative;
    margin: 5px 0;
    border-radius: 5px;
}

.list > li.minus{
  border-right: 5px solid #c0392b;
}

.list > li.plus{
  border-right: 5px solid #2ecc71;
}


.form-control input{
  width: 100%;
  margin: 10px 0;
  padding: 5px 5px;
}

.delete-btn{
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list > li:hover .delete-btn{
  opacity: 1;
}

@media (max-width: 320px) {
  .container {
    width: 300px;
  }
}